In [1]:
import pandas as pd

In [2]:
filename = "/Users/kerekovskik/repos/DEMOGORGN-web/api/data/PIG_data.csv"
df = pd.read_csv(filename)

In [3]:
df.describe()

          Unnamed: 0             X              Y            BED
count  840033.000000  8.400330e+05  840033.000000  840033.000000
mean   420016.000000 -1.565020e+06 -178037.421903    -939.657576
std    242496.783677  2.727459e+04   42151.121346     288.257469
min         0.000000 -1.620000e+06 -249999.721069   -1773.500000
25%    210008.000000 -1.583382e+06 -214834.848451   -1172.330000
50%    420016.000000 -1.562726e+06 -178761.736396    -987.519861
75%    630024.000000 -1.539638e+06 -137767.267733    -724.133483
max    840032.000000 -1.520001e+06 -110000.422450     399.740000

In [4]:
for col in df.columns:
    print(f"Column {col}")
    print("Minimum value: ", df[col].min())
    print("Maximum value: ", df[col].max())

Column Unnamed: 0
Minimum value:  0
Maximum value:  840032
Column X
Minimum value:  -1619999.7700075947
Maximum value:  -1520000.8015264915
Column Y
Minimum value:  -249999.72106930905
Maximum value:  -110000.42244985892
Column BED
Minimum value:  -1773.5
Maximum value:  399.74